.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.title-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.blog {
    color: #9aa5b1;
    font-size: 10px;
    font-weight: 500;
    font-family: "Roboto";
}
.line {
    border-color: #9aa5b1;
    border-width: 2px;
    border-style: solid;
}